<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfilUsuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <img [src]="defectoImagen">
  </div>
  
  <app-formulario-usuario-component [modoEdicion]="true" (datosDelUsuarioParaActualizarYCrear)="actulizarDatosDeUsuario($event)"></app-formulario-usuario-component>

</ion-content>
<app-tab-inicio></app-tab-inicio>
