<ion-header [translucent]="true" class="header-crema">
  <ion-toolbar class="toolbar-crema">
    <ion-title class="titulo-header">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-crema">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar-crema">
      <ion-title size="large" class="titulo-header">perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="perfil-container container">
    <img class="imagen-perfil" [src]="defectoImagen" alt="Imagen de perfil">
  </div>
  
  <app-formulario-usuario-component 
    [modoEdicion]="true" 
    (datosDelUsuarioParaActualizarYCrear)="actulizarDatosDeUsuario($event)">
  </app-formulario-usuario-component>
</ion-content>

<app-tab-inicio></app-tab-inicio>
