<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ingresoRegistro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ingresoRegistro</ion-title>
    </ion-toolbar>
  </ion-header>

  <main>
    <h3>Usuario</h3>
    <ion-input type="text" placeholder="Correo" [(ngModel)]="correo"></ion-input>
    <h3>Contraseña</h3>
    <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
    <ion-button (click)="validarCredenciales()">Ingresar</ion-button>
    <ion-button (click)="registrar()">Registrarme</ion-button>
  </main>

</ion-content>