<ion-header [translucent]="true" class="header-crema">
  <ion-toolbar class="toolbar-crema">
    <ion-title class="titulo-header">Ingreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-crema">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar-crema">
      <ion-title size="large" class="titulo-header">Ingreso</ion-title>
    </ion-toolbar>
  </ion-header>

  <main>
    <div class="contenedor-crema">
      <h3 class="titulo-form">Usuario</h3>
      <input class="campo-input" type="text" placeholder="Correo" [(ngModel)]="correo">

      <h3 class="titulo-form">Contraseña</h3>
      <input class="campo-input" type="password" placeholder="Contraseña" [(ngModel)]="password">

      <ion-button expand="block" class="boton-principal" (click)="validarCredenciales()">Ingresar</ion-button>
      <ion-button expand="block" class="boton-secundario" (click)="registrar()">Registrarme</ion-button>
    </div>
  </main>
</ion-content>
