<ion-header [translucent]="true" class="header-crema">
  <ion-toolbar class="toolbar-crema">
    <ion-title class="titulo-header">Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido-crema">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar-crema">
      <ion-title size="large" class="titulo-header">carritoCompras</ion-title>
    </ion-toolbar>
  </ion-header>

  @if(listaProducto.length >= 1){
  <app-carrucel-productos-component [listaDeRecepcion]="listaProducto" [vistaCarrito]="true">
  </app-carrucel-productos-component>
  }
  @else{
  <div class="mensaje-vacio">
    <h2 class="titulo-vacio">No hay productos</h2>
    <img class="imagen-vacia" src="./assets/canasta.png" alt="Carrito vacío">
    <p class="texto-vacio">Tu carrito está esperando nuevos productos</p>
  </div>

  }

</ion-content>

<app-tab-inicio></app-tab-inicio>