img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.mensaje-vacio {
  text-align: center;
  margin-top: 40px;
  color: #888;
}

.mensaje-vacio h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}

.mensaje-vacio ion-icon {
  font-size: 40px;
  color: #ccc;
}
