ion-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 365px; // ajusta según tu diseño
  max-height: 365px;
  overflow: hidden;
}

img{
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.descripcion-recortada {
  max-height: 60px;         // ajusta según tu diseño
  overflow: auto;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;     // número de líneas visibles
  -webkit-box-orient: vertical;
}
