<ion-grid>
  <ion-row>
    @for (iterador of listaDeRecepcion; track iterador.id){
    <ion-col size="12" size-md="6" size-lg="4">
      <ion-card class="card-crema">
        <img class="imagen-card" alt="Imagen del producto" [src]="iterador.image" />

        <ion-card-header>
          <ion-card-title class="titulo-card">{{iterador.title}}</ion-card-title>
          <ion-card-subtitle class="subtitulo-card">Precio: ${{iterador.price}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <p class="texto-card">Clasificación ⭐ {{iterador.rating.rate}}</p>
          @if (!vistaCarrito){
            <ion-button class="boton-principal" (click)="comprarProducto(iterador)">Comprar</ion-button>
          }
          @else{
            <ion-button class="boton-secundario" (click)="eliminarProducto(iterador)">Eliminar</ion-button>
          }
        </ion-card-content>
      </ion-card>
    </ion-col>
    }
  </ion-row>
</ion-grid>
